@import 'bourbon/bourbon';

body {
	margin: 0;
	font-family: SkyTextRegular, Helvetica, Sans-Serif;
	font-size: 16px;
}

.strapline{
  font-size: 2em;
}


.wrapper {
	width: 960px;
	margin: 50px auto 0;
}

h1 {
	font-size: 75px;
	margin: 0px 0 50px;
  font-weight: normal;
  color: #0073c5;
    font-family: SkyTextMedium;
  color: #0077ae;
}

ul.showcase	{
	@include clearfix;

	padding: 0px;
	list-style: none;
	// position: absolute;

	li {
		position: relative;
		float: left;
		// margin-left: 20px;
		width: 30%;
		margin-left: 5%;

		&:first-child {
			margin: 0;
		}

		a {
			@include transform(scale(0.7));
			background-repeat: no-repeat;
			height: 256px;
			width: 256px;
			display: block;

			&:hover {
				@include transition (all 0.3s ease-in-out);
				@include transform(scale(1.0));
				}
			}

			.tooltip {
				display: block;
				bottom: -45px;
				position: absolute;
				padding: 10px 0;
				border-radius: 5px;
				background-color: #000;
				color: #FFF;
				width: 256px;
				text-align: center;
				padding: 10px;

				&:before {
					content: "";
					width: 0;
					height: 0;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 15px solid #000;
					position: absolute;
					top: -14px;
					left: 114px;
				}
				.desc {
					color: rgb(221, 221, 221);
				}
			}
		}
	}

a#octocat {
	background-image: url('../images/octocat.png');
}

a#toolkit {
	background-image: url('../images/toolbox.png');
}

a#binoculars {
	background-image: url('../images/binoculars.png');
}

.tooltip {
	display: none;
}

.sky-logo {
	background-image: url('../images/sky-logo.png');
  width: 111px;
  height: 69px;
  margin-top:15px;
  float:left;
  display: inline-block;

}


// #octocat {
// 	display: block;
// 	margin-top: 30px;

// 	.tooltip {
// 		display: block;
// 		bottom: -45px;
// 		position: absolute;
// 		padding: 10px 0;
// 		border-radius: 2px;
// 		background-color: #000;
// 		color: #FFF;
// 		width: 256px;
// 		text-align: center;

// 		&:before {
// 			content: "";
// 			width: 0;
// 			height: 0;
// 			border-left: 15px solid transparent;
// 			border-right: 15px solid transparent;
// 			border-bottom: 15px solid #000;
// 			position: absolute;
// 			top: -14px;
// 			left: 114px;
// 		}
// 	}
// }
